[Desktop Entry]
Version=1.0
Type=Application
Name=TV Image Denoising
GenericName=Image Denoising Tool
Comment=Total-variation image denoising with Gradient Descent and Newton's Method
Icon=tvdenoising
Exec=/usr/local/bin/TVDenoising
Terminal=false
Categories=Science;Education;Graphics;
Keywords=denoising;image;TV;optimization;numerical;
StartupNotify=true
